---
import Interactive from './Interactive.svelte'
import Header from '$lib/components/Header.astro'
import Layout from '$lib/layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="">
    <p>Test</p>
    <Interactive client:load />
  </main>
</Layout>
